/* General Styles */
body{
    font-family: 'Lucida Sans', sans-serif;
}
.sections{
    padding: 20px 0;
}
.overlay{
    position: absolute;
    top: 0; bottom: 0; 
    left: 0; right:0;
    background: rgba(0, 0, 0, .5);
}
.section-header .section-title{
    font-size: 40px;
}
.section-header .line{
    width: 200px;
    background: #C1BDBC;
    height: 4px;
    margin: auto;
}
.section-header .line span{
    display: block;
    width: 150px;
    background: #7cb62f;
    height: 6px;
    margin: auto;
    position: relative;
    bottom: 1px;
}
.section-header p{
    width: 50%;
    color: #666;
    margin: 20px auto;
    line-height: 1.5;
}

/* Header */
header{
    height: auto;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
header i.icon{
    position: absolute;
    right: 30px;
    top: 34px;
    z-index: 10;
    display: none;
}
header .logo h2{
    font-size: 35px;
    color: #fff;
}
header nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
header nav .nav-list .list a{
    display: block;
    padding: 15px 0;
    margin: 9px 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
header nav .nav-list .list a:hover{
    color: #7cb62f;
}
.sticky{
    background: #000;
    color: #fff;
}
/* Home section */
.home{
    height: 650px;
    background-image: url('../images/road-sky-clouds-cloudy-215.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .home-title{
    color: #fff;
    font-size: 40px;
    margin-bottom: 25px;
}
.home .home-desc{
    color: #fff;
    font-size: 18px;
}
.home .button{
    background: #7cb62f;
    color: #fff;
    width: 150px;
    text-align: center;
    padding: 5px 0;
}
/* About Us */
.about .about-info h3{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 20px;
}
.about .about-info h3 span{
    color: #7cb62f;
}
.about .about-info .about-info-desc{
    line-height: 1.8;
    color: #666;
    margin-bottom: 20px;
}
.about .about-info .about-info-btn{
    background-color: #7cb62f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}
.about .about-img img{
    width: 100%;

}
/* Services */
.services{
    background: #f7f7f7;
}
.services .serv{
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.services .serv .icon{
    background: #7cb62f;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
}
.services .serv-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.services .serv-desc{
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}




@media (max-width:575px){
    /* General Styles */
    .section-header p{
        width: 85%;
    }
    /* Header */
    header{
        background: #000;
    }
    header nav .nav-list{
        display: none;
        text-align: center;
        padding: 0;
    }
    header .logo h2{
        text-align: center;
    }
    header i.icon{
        display: block;
    }
    /* Home section */
    .home .home-title{
        font-size: 22px;
    }
    .home .button{
        margin-bottom: 10px;
    }
    /* About Us */
    .about .about-info h3 span{
        font-size: 20px;
    }
}

@media (min-width:320px) and (max-width:992px){
    .about .about-info{
        text-align: center;
    }
}